.header {
  background: #000;
  overflow: hidden; }

.banner {
  padding: 100px 60px; }
  .banner__left {
    position: relative; }
    .banner__left img {
      position: absolute;
      left: 143px;
      top: -227px; }
  .banner__right {
    z-index: 999;
    text-align: right; }
    .banner__right .tagline {
      font-size: 20px;
      font-family: "Abril Fatface", cursive;
      font-weight: 500;
      line-height: 1.1;
      color: #fff; }
    .banner__right .main_heading {
      font-family: "Abril Fatface", cursive;
      font-size: 102px;
      font-weight: 500;
      line-height: 1.1;
      color: #fff;
      text-transform: uppercase;
      z-index: 999;
      position: relative; }
    .banner__right .sub_heading {
      font-family: "Abril Fatface", cursive;
      font-size: 85px;
      font-weight: 500;
      line-height: 1.1;
      color: #fff;
      text-transform: capitalize;
      z-index: 999;
      position: relative; }
    .banner__right .button {
      margin-top: 30px; }
      .banner__right .button__explor {
        color: #D7C6B3;
        border: 1px solid #D7C6B3;
        width: 120px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        padding: 7px 10px;
        background: transparent;
        transition: all .5s;
        display: inline-block;
        text-align: center; }
        .banner__right .button__explor:hover {
          color: #000;
          border: 1px solid transparent;
          background: #D7C6B3; }
      .banner__right .button__hire {
        color: #000;
        border: 1px solid #D7C6B3;
        width: 120px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        padding: 7px 10px;
        background: #D7C6B3;
        transition: all .5s;
        display: inline-block;
        text-align: center;
        margin-left: 20px; }
        .banner__right .button__hire:hover {
          color: #D7C6B3;
          border: 1px solid #D7C6B3;
          background: transparent; }

.navbar .my_nav {
  background-color: transparent;
  z-index: 999; }
  .navbar .my_nav li a {
    font-size: 20px;
    font-weight: 600;
    padding: 60px 25px 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    position: relative;
    z-index: 999; }
    .navbar .my_nav li a:hover {
      color: #000; }
  .navbar .my_nav li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #d7c6b3;
    transition: all .5s;
    z-index: -1; }
  .navbar .my_nav li a:hover::after {
    height: 100%; }

.section_title h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 35px;
  color: #D7C6B3; }

.about {
  background-color: #282828;
  padding: 100px 0;
  color: #D7C6B3; }
  .about img {
    width: 100%; }
  .about__text h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    margin-bottom: 40px; }
  .about__text .my_links h3 {
    font-family: 'Abril Fatface', cursive;
    margin: 40px 0 30px; }
  .about__text .my_links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0; }
  .about__text .my_links ul li:first-child a {
    margin-left: 0; }
  .about__text .my_links ul li a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 10px;
    transition: all .3s; }
    .about__text .my_links ul li a [class^="flaticon"]::before {
      font-size: 25px;
      margin-left: 0; }
    .about__text .my_links ul li a:hover {
      background-color: #D7C6B3; }
    .about__text .my_links ul li a:hover [class^="flaticon"]::before {
      color: #000; }

.service {
  background: #000;
  padding: 60px 0 130px;
  position: relative; }
  .service .service_item {
    color: #fff;
    padding: 0 20px; }
    .service .service_item img {
      margin: auto; }
    .service .service_item h3 {
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      margin: 30px 0; }
  .service ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px 0; }
    .service ul li {
      border: 2px solid #D7C6B3;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 0 10px;
      cursor: pointer; }
      .service ul li.background {
        background: #D7C6B3; }
      .service ul li.remove {
        background: transparent; }
      .service ul li i {
        color: #fff;
        font-size: 38px; }
        .service ul li i.fas.fa-long-arrow-alt-left {
          position: relative;
          left: -15px;
          /* right: 13px; */
          top: -14%; }
        .service ul li i.fas.fa-long-arrow-alt-right {
          position: relative;
          left: 13px;
          top: -14%; }

.portfolio {
  padding: 80px 0;
  background-color: #282828; }
  .portfolio .single_portfolio {
    position: relative;
    margin-bottom: 30px; }
    .portfolio .single_portfolio img {
      width: 100%; }
    .portfolio .single_portfolio .overlay {
      position: absolute;
      top: 30%;
      left: 30%;
      width: 40%;
      height: 40%;
      background-color: rgba(215, 198, 179, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: all .3s; }
    .portfolio .single_portfolio:hover .overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible; }
    .portfolio .single_portfolio .overlay a {
      background-color: #000;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-decoration: none;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s;
      outline: 0; }
      .portfolio .single_portfolio .overlay a:hover {
        background-color: transparent;
        border: 1px solid #000;
        color: #000; }
    .portfolio .single_portfolio .overlay .overlay_text {
      position: relative;
      top: 30%;
      text-align: center; }
  .portfolio .filter_nav h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    color: #D7C6B3;
    margin-bottom: 40px; }
  .portfolio .filter_nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .portfolio .filter_nav ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    padding: 15px 0;
    transition: all .3s;
    cursor: pointer; }
  .portfolio .filter_nav ul li:hover {
    color: #D7C6B3;
    padding-left: 15px; }
  .portfolio .brouse_btn {
    text-align: center; }
    .portfolio .brouse_btn .browseAll_btn {
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      background-color: #D7C6B3;
      padding: 7px 20px;
      border: 1px solid transparent;
      transition: all .5s;
      display: inline-block;
      margin-top: 20px;
      font-weight: 600; }
      .portfolio .brouse_btn .browseAll_btn:hover {
        border: 1px solid #D7C6B3;
        background-color: transparent;
        color: #D7C6B3; }

.testimonial {
  background: url("../images/test_bg.jpg");
  padding: 60px 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .testimonial::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
  .testimonial .testimonial_text {
    position: relative;
    z-index: 999; }
  .testimonial .arrows {
    position: absolute;
    bottom: -40px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    z-index: 999; }
    .testimonial .arrows .bg_arrw {
      background: #D7C6B3; }
    .testimonial .arrows li {
      list-style: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #fff;
      position: relative;
      margin: 0 10px; }
    .testimonial .arrows li i {
      position: absolute;
      font-size: 35px;
      color: #fff; }
    .testimonial .arrows li i.angle_right {
      right: 14px;
      top: -5px; }
    .testimonial .arrows li i.angle_left {
      left: 14px;
      top: -4px; }
  .testimonial .single_testimonial {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff; }
    .testimonial .single_testimonial img {
      width: 80%; }
    .testimonial .single_testimonial h2 {
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600; }
    .testimonial .single_testimonial h3 {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }
    .testimonial .single_testimonial p {
      font-family: 'fontAwesome', sans-serif;
      margin-top: 20px; }

.footer__top {
  background-color: #282828;
  padding: 100px 0; }
  .footer__top h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    color: #D7C6B3;
    margin-bottom: 30px; }
  .footer__top .contact__area .location ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px; }
    .footer__top .contact__area .location ul li {
      margin: 10px 0; }
      .footer__top .contact__area .location ul li a {
        text-decoration: none;
        font-size: 18px;
        color: #fff; }
        .footer__top .contact__area .location ul li a i {
          margin-right: 10px; }
  .footer__top .social_icon ul {
    list-style: none;
    padding: 0;
    display: flex; }
    .footer__top .social_icon ul li {
      margin: 10px; }
      .footer__top .social_icon ul li a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        transition: all .3s;
        text-align: center;
        line-height: 40px; }
        .footer__top .social_icon ul li a:hover {
          background: #D7C6B3;
          color: #000; }

.footer__bottom {
  padding: 20px 0;
  background-color: #333333; }
  .footer__bottom p {
    color: #D7C6B3;
    margin: 0; }
