.navbar .my_nav{
    background-color: transparent;
    z-index: 999;
    li{

      a{
        font-size: 20px;
        font-weight: 600;
        padding: 60px 25px 20px;
        text-decoration: none;
        text-transform: capitalize;
        color: #fff;
        font-family: $openSans;
        position: relative;
        z-index: 999;

        &:hover{
            color: #000;
        }
      }
       
      a::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #d7c6b3;
        transition: all .5s;
        z-index: -1;
      }
      a:hover::after{
          height: 100%; 
      }
    }
}
